
.row {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 2%;
  margin-right: 2%;
}

.column {
  border-radius: 21px 21px 21px 21px;
  -moz-border-radius: 21px 21px 21px 21px;
  -webkit-border-radius: 21px 21px 21px 21px;
  border: 0px solid #000000;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.3) 51%, rgba(255, 255, 255, 0.4) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=1);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
   
    margin-bottom: 10px;
  }

  .column {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    
  }
}

button {
  background: linear-gradient(135deg, rgb(219, 7, 7) 0%, rgb(197, 9, 9) 50%, rgb(206, 35, 35) 51%, rgb(168, 27, 27) 100%);
  display: block;
  margin: 0 auto;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#949494', endColorstr='#a6a6a6', GradientType=1);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  -webkit-box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75);
}


.text-descripcion{
  text-align: center;
  @media (max-width: 768px) { 
    text-align: justify; 
    justify-content: flex-start; 
  }
  
}

ion-searchbar {
  --background: rgba(255, 255, 255,0.3)  ;
  width: 70%; 
  margin: 0 auto; 
  color: white;
}

.btn-busqueda{
  background: orange;
  color: red;
  
}