<app-menu></app-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    
    <ion-toolbar>
      <ion-title>JOBBY</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      
    </ion-toolbar>
    
  </ion-header>
  <ion-content [fullscreen]="true">
  
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">JOBBY</ion-title>
  
      </ion-toolbar>
    </ion-header>
    <div class="row" *ngFor="let servicio of listaServicios">
      <div class="column">
        <h2>{{ servicio.des_serv }}</h2>
        <p>Presencial: {{ servicio.presencial === '1' ? 'Sí' : 'No' }}</p>
        <p>Correo Electrónico: {{ servicio.correo_electronico }}</p>
        <p>Disponibilidad: {{ servicio.disponibilidad }}</p>
        <p>Nombre del Servicio: {{ servicio.name_serv }}</p>
        <p>Comuna: {{ servicio.name_comuna }}</p>
        <p>Región: {{ servicio.name_region }}</p>
        <button>Solicitar servicio</button>
      </div>
      
    </div>
  </ion-content> 

  
</div>


