/* Estilos para el menú desplegable */
ion-menu {
    --ion-background-color: white;
}

.menu-content {
    ion-list {
        ion-item {
            color: black;

            &.logout-button {
                background-color: transparent;
                color: black;
            }
        }
    }
}

p {
    color: black;
    text-align: center;
}

h3 {
    text-align: center;
    color: black;
}

ion-item.custom-menu-item {
  --color: black;
  --background: transparent;
  border: solid red;
}

ion-list {
  background-color: rgba(255, 255, 255, 0);
  border: red;
}

ion-button.custom-button {
  --background: orange; 
  color: red; 
  width: 100%; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-top: 2%;
}

.user-avatar {
  max-width: 250px;
  height: 250px;
  padding: 0.5em;
  filter: drop-shadow(3px 4px 4px #444);
  margin: 0 auto;
  border-radius: 50%;
}


.datos {
  text-align: center;
  color: black;
}

.user-card {

  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 5%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

}

.custom-buttonx {
  --background: orange;
  color: red; 
  width: 40%;
}


.custom-card{
  width: 90%;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.custom-list-item{
  background-color: rgba(255,255,255,0.1);
  color: red;
}

.titulo{
  text-align: center;
  color: white;


}



.div-tarjeta-servicio{
  background-color: rgba(255,255,255,0.1);
  color:black;
  border: solid 1px red;
}

.tipo_servicio_h2{
  text-align: center;
}

.div-tarjeta-servicio-for{
  margin-left: 5%;
  margin-right: 5%;
}

.boton-crear{
  margin-left: 30%;
}
