<app-menu></app-menu>

<div class="ion-page" id="main-content">

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>JOBBY</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="mt-6"*ngIf="resenaData.length == 0">
  <h1> Este servicio no cuenta con reseña </h1>
</div>

<ion-card class="custom-card" style="margin-top:15%; padding-left: 3%;" *ngFor="let resena of resenaData">
  
    <div class="div-tarjeta-servicio">
      <h1>Comentario del cliente:</h1>
      <div *ngIf="resena.estado !='reportado'">
        <p >{{resena.descripcion}}</p>
      </div>
      <div *ngIf="resena.estado == 'reportado'">
        <p >Esta reseña fue emitida con malas intenciones, por la seguridad del trabajador está siendo revisada.</p>
      </div>
     
      <div class="star-container">
        <ion-icon *ngFor="let i of getStarArray()" [name]="getStarIcon(i, calificacion)"
          class="star-filled"></ion-icon>
      </div>
    </div>
</ion-card>

</ion-content>
</div>
