

  ion-icon {
    font-size: 24px; /* Tamaño de las estrellas */
  }
  
  .star-filled {
    color: gold; /* Color de las estrellas llenas */
    border-color: black;
  }
  
  .unfilled {
    color: gray; /* Color de las estrellas vacías */
  }