
<div class="ion-page" id="main-content">

  <ion-content [fullscreen]="true">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-title>JOBBY</ion-title>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>

      </ion-toolbar>
    </ion-header>

    <div class="div-form">
      <h2 style="text-align: center;">Calificación trabajador</h2>
      <div >

        <form (submit)="agregarResena()" class="formulario-resena">
          <ion-item class="opinion-item">
            <ion-label position="floating">Danos tu opinión:</ion-label>
            <ion-textarea [(ngModel)]="resenaa.descripcion" name="descripcion" required></ion-textarea>
          </ion-item>

          <!-- ... (otro código) ... -->
          <br>
          <ion-item class="item-resena">
            <ion-label position="floating" style="padding-bottom: 2%;">Calificación</ion-label>
            <br>
            <br>
            <ion-row>
              <ion-col *ngFor="let star of [1, 2, 3, 4, 5]" class="star-col">
                <ion-icon class="star" [name]="star <= resenaa.calificacion ? 'star' : 'star-outline'"
                  (click)="resenaa.calificacion = star"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-item>

          <!-- ... (otro código) ... -->

          <br><br>
          <ion-button type="submit" expand="full" class="button-enviar">Enviar Reseña</ion-button>
        </form>
      </div>
    </div>
  </ion-content>
</div>