<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-avatar slot="start" class="logo-avatar">
      <img src="https://www.pngmart.com/files/17/Vector-Worker-PNG-Free-Download.png" alt="Logo">
    </ion-avatar>
    <ion-title>JOBBY</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-grid fixed class="ion-padding-top">
      <ion-row>
        
        <ion-col col-12 width-50 class="ion-padding">
          <div class="form-container"> <!-- Div adicional para el fondo semi-transparente -->
            <form (ngSubmit)="login()" #loginForm="ngForm" class="login-form">
              <h3 class="form-title">INICIAR SESIÓN</h3>
              <ion-item class="animate__animated animate__fadeIn">
                <ion-label shape="round" position="floating">Correo electrónico</ion-label>
                <ion-input shape="round" class="white-background" type="email" name="email"
                  [(ngModel)]="correo_electronico" required></ion-input>
              </ion-item>
              <ion-item class="animate__animated animate__fadeIn">
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input shape="round" class="white-background" type="password" name="password" [(ngModel)]="password"
                  required></ion-input>
              </ion-item>
              <div class="ion-padding-top"></div>
              <ion-button shape="round" type="submit" expand="full" class="btn_login" >Iniciar
                Sesión</ion-button>

            </form>
            <ion-button shape="round" type="submit" expand="full" class="btn_registro"
              routerLink="/registro">Registrarse</ion-button>
          </div>
        </ion-col>
       
      </ion-row>
    </ion-grid>
  </div>
</ion-content>