.logo-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
}

ion-title {
    font-family: 'NombreDeTuFuente', sans-serif;
    font-weight: 800;
    font-style: italic;
    letter-spacing: 2px;
    font-size: 150%;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;

}

.btn_login,
.btn_registro {
    --background: orange;
    color: white;
}



ion-item {
    --background: rgba(255, 255, 255, 0.5);
    --border-color: transparent !important;
    color: black !important;
    margin-top: 2%;

}

h3.form-title {
    text-align: center; 
    font-weight: bold;
    color: orange;
   
    font-size: 24px;

}