.lista-favorito {
    background: transparent;
}

.button-perfil {
    display: block;
    /* Hacer que el botón sea un bloque para aplicar margen automático */
    margin: 0 auto;
    /* Margen automático horizontal para centrar el botón */
    --background: orange;
    color: red;
}

.carta-favorito{
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 1%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

h3{color: black;}
h2{color: black;}