.list-soli{
    background-color: rgba(255, 100, 100,0.5);
    margin-top:1%;
    margin-left: 10%;
    margin-right: 10%;
}
.datos-servicio{
    text-align: center;
}
.fecha{
    text-align: end;
    margin-right:2%;
}

.custom-button{
    --background: orange; 
    color: red; 

    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 1%;
}

.estado{
    text-align: center;
    margin-right:2%; 
    background-color: red;
}

.custom-button-rechazo{
    --background: rgb(211, 163, 163); 
    color: black; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}