<app-menu></app-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    
    <ion-toolbar>
      <ion-title>JOBBY</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      
    </ion-toolbar>
    
  </ion-header>

<ion-content [fullscreen]="true">
  <div class="custom-list">
    <div *ngFor="let solicitud of solicitudesRecibidas" class="list-soli">
      <div class="custom-label">
        <h2 class="datos-servicio">{{ solicitud.name_serv }}, {{ solicitud.titulo_solicitud }}</h2>
        <p class="fecha">{{ solicitud.fecha_solicitud | date:'dd-MM-yyyy' }}</p>
       
        <p>Enviado por: {{ solicitud.nombre }} {{ solicitud.apellidos }}</p>
       <p>Correo: {{ solicitud.correo_cliente}} </p>    
        <p>Telefono: {{ solicitud.telefono }}</p> 
        <p style="text-align: center;">{{ solicitud.des_solicitud }}</p>
        <p class="estado">{{ solicitud.estado }}</p>
      </div>
      
      <ion-button class="custom-button" *ngIf="solicitud.estado === 'pendiente'" (click)="aceptarSolicitud(solicitud.id_solicitud)">
        Aceptar Solicitud
      </ion-button>
      <ion-button class="custom-button" *ngIf="solicitud.estado === 'gestionando'" (click)="aceptarEncargo(solicitud.id_solicitud)">
        Aceptar Encargo
      </ion-button>
  
      <ion-button class="custom-button-rechazo" *ngIf="solicitud.estado === 'gestionando'" (click)="rechazarEncargo(solicitud.id_solicitud)">
        Rechazar Encargo
      </ion-button>
  
      <ion-button class="custom-button" *ngIf="solicitud.estado === 'Desarrollo'" (click)="finalizarSolicitud(solicitud.id_solicitud)">
        Solicitud completada
      </ion-button>
    </div>
  </div>
</ion-content>



