<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>historial-trabajador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">historial-trabajador</ion-title>
    </ion-toolbar>
  </ion-header>




  <div class="row" *ngFor="let servicios of serviciosFinalizados">
    <div class="column">
    <h1>Datos del cliente:</h1>
    <p>{{servicios.nombre}} {{servicios.apellidos}}</p>
    <p>Correo:{{servicios.correo_cliente}}</p>
    <h1>Servicio solicitado:</h1>
    <p>{{servicios.name_serv}}</p>
    <p>Descripcion de la solicitud: {{servicios.des_solicitud}}</p>
    <p>Fecha: {{servicios.fecha_solicitud | date:'dd-MM-yyyy'}}</p>
    <ion-button>Ver reseña(por implementar)</ion-button>
    </div>
   
  </div>



 
</ion-content>
