p{
    color: black;
}

h3{
    color: black;
}

.user-avatar {
    max-width: 250px;
    height: 250px;
    padding: 0.5em;
    filter: drop-shadow(3px 4px 4px #444);
    margin: 0 auto;
    border-radius: 50%;
  }

.datos {
    margin-left: 10px; /* Margen izquierdo */
    margin-right: 10px; /* Margen derecho */
}

.custom-lista {
    background-color: #f2f2f2; /* Fondo gris */
    margin-left: 10px; /* Margen izquierdo */
    margin-right: 10px; /* Margen derecho */
    --ion-item-background: transparent;
    border-radius: 15px;
  }

.custom-list-item {
    display: flex;/* Alinea los elementos al espacio entre ellos */
    align-items: center; /* Alinea verticalmente en el centro */
  }
  
.custom-button {
    float: right; /* Hace que el botón se muestre a la derecha */
    margin-right: 0;
    padding-right: 0;  
  }
