
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title >JOBBY </ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="custom-content">
    <ion-card class="user-card">
      <ion-button (click)="toggleFavorito()" style="--background: orange;"
        *ngIf="datosTrabajador.length>0 && mostrarBotonSolicitar">
        <ion-icon [name]="esFavorito ? 'heart' : 'heart-outline'"></ion-icon>
      </ion-button>
      <ion-button *ngIf="mostrarBotonAgregarServicio && datosServicio[0]?.disponibilidad=='ocupado'"
        (click)="actualizarDisponibilidadUsuarioAutenticado()" class="btn-estado-disponible">Disponible</ion-button>
      <ion-button *ngIf="mostrarBotonAgregarServicio && datosServicio[0]?.disponibilidad=='disponible'"
        (click)=" actualizarDisponibilidadUsuarioAutenticadoocupado()" class="btn-estado-ocupado">Ocupado</ion-button>

      <div class="user-profile">
        <ion-row responsive-sm>
          <ion-col col-12 width-50 class="ion-text-center">
            <ng-container
              *ngIf="datosTrabajador[0]?.img_base64 !== null && datosTrabajador[0]?.img_base64 !== undefined">
              <img [src]="datosTrabajador[0]?.img_base64" class="user-avatar">
            </ng-container>
            <ng-container
              *ngIf="!datosTrabajador[0]?.img_base64 || datosTrabajador[0]?.img_base64 === null || datosTrabajador[0]?.img_base64 === undefined">
              <img class="user-avatar" src="../../assets/img/user.jpg">
            </ng-container>
          </ion-col>

        </ion-row>
      </div>
      <div *ngIf="datosTrabajador.length === 0">
        <h2 style="color: white; text-align: center;">NO POSEE CUENTA TRABAJADOR</h2>
        <ion-button shape="round" class="button-solicitar-servicio custom-buttonx boton-crear"
          (click)="navegarCrearPerfilTrabajador()">CREAR</ion-button>
      </div>

      <div class="datos" *ngIf="datosTrabajador.length > 0">

        <div style="display: flex; justify-content: space-between; align-items: center;">
          <div style="text-align: center; flex: 1;">
            <ion-label>
              <h3>{{ datosTrabajador[0]?.nombre }} {{ datosTrabajador[0]?.apellidos }}</h3>
            </ion-label>
          </div>

        </div>
        <p>Telefono de contacto: {{datosTrabajador[0]?.telefono}}</p>
        <p>Fecha de nacimiento: {{ datosTrabajador[0]?.fecha_nacimiento | date:'dd-MM-yyyy' }}</p>
        <p>{{datosTrabajador[0]?.des_perfil}}</p>
        <div class="star-container">
          <ion-icon *ngFor="let i of getStarArray()" [name]="getStarIconAvgWorker(i, promedioTrabajador)"
            class="star-filled"></ion-icon>
        </div>
        <p>Estado:{{datosServicio[0]?.disponibilidad}}</p>

        

          <ion-button *ngIf="datosTrabajador.length > 0 && mostrarBotonGestionarResenas" shape="round"
            class="button" (click)="gestionarResenas()">Gestionar reseñas
          </ion-button>
          <ion-button *ngIf="datosTrabajador.length > 0" class="button"  shape="round"(click)="navigateToHistorialServicios()">Historial trabajador</ion-button>

          <ion-button *ngIf="datosTrabajador.length > 0 && mostrarBotonGestionarResenas" shape="round"
            class="button" (click)="navigateToHistorialServicios()">Historial de trabajos
          </ion-button>

      </div>
      <!-- boton para actualizar estado -->

      

      <div style="text-align: center; padding-bottom: 5px;">
        <ion-button *ngIf="datosTrabajador.length > 0 && mostrarBotonSolicitar" shape="round"
          class="button-solicitar-servicio custom-buttonx" (click)="navigateToSolicitud()">Solicitar</ion-button> <br>
        
      </div>
    </ion-card>

    <!-- Acordeon de lista de documentos -->
    <ion-accordion-group expand="inset" class="custom-accordion" *ngIf="datosTrabajador.length > 0">
      <ion-accordion value="first" class="custom-accordion-item">
        <ion-item slot="header" style="--background: transparent; color: inherit;">
          <ion-label>Documentos</ion-label>
        </ion-item>
        
        <div *ngFor="let datos of datosDocumentos" slot="content" class="custom-accordion-content" style="display: flex; justify-content: space-between; align-items: center;">
          <div style="flex: 1;">{{ datos.titulo }}</div>
          <div style="margin-right: 5%;">
            <ion-icon *ngIf="mostrarBotonAgregarServicio && datosTrabajador.length > 0" 
            (click)="confirmarEliminarDocumento(datos.id_documento)" style="font-size: 30px; margin-right: 15%; color: #ff0000;" name="trash-outline"></ion-icon>
          </div>
          <div>
            <ion-icon (click)="descargarDocumento(datos.documento_hex, datos.titulo)" style="font-size: 30px; padding-right: 1%;" name="download"></ion-icon>
          </div>
        </div>
        
        
        
        <div slot="content" *ngIf="mostrarBotonAgregarDocumentacion && datosTrabajador.length > 0" class="custom-accordion-content" style="text-align: center; padding-bottom: 16%;">
          <ion-button  shape="round" class="button" (click)="goToFormularioDocumentacion()">Agregar documentación</ion-button>
        </div>
        <div slot="content" *ngIf="datosDocumentos.length == 0 && mostrarBotonAgregarDocumentacion == false" class="custom-accordion-content" style="text-align: center; padding-bottom: 16%;">
          <h5>El trabajador no posee documentos.</h5>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    

    
    
    
    <!-- Fin de acordeon de lista de documentos -->




    <div *ngIf="datosTrabajador.length > 0">
      <ion-segment [(ngModel)]="selectedTab" class="custom-card">

        <ion-segment-button value="tab1">
          <p class="bartab">SERVICIOS</p>
        </ion-segment-button>

        <ion-segment-button value="tab2">
          <p class="bartab">GALERIA</p>
        </ion-segment-button>

      </ion-segment>

      <div [ngSwitch]="selectedTab">



        <div *ngSwitchCase="'tab1'">
          <!-- Contenido de la Opción 1 -->

          <ion-card class="custom-card custom-white-background" style="text-align: center;" *ngFor="let datos of datosServicio">
            <div class="div-tarjeta-servicio">
              <div class="div-tarjeta-servicio-for">
                <div>

                  <h2 class="tipo_servicio_h2">{{ datos.name_serv }}</h2>
                  <img [src]="datos.img_portada_base64" style="padding-top: 1%;" class="img-serv">
                  <p style="text-align: center;">{{ datos.des_serv }}</p>
                  <p style="text-align: center;">{{ datos.name_comuna }},{{ datos.name_region }}</p>
                  

                  <div style="text-align: center;">
                    <!-- Utilizamos Angular RouterLink para la navegación -->
                    <a [routerLink]="'/modificar-servicio/' + datos.id_des_serv">
                      <ion-button shape="round" *ngIf="mostrarBotonAgregarServicio && datosTrabajador.length > 0"
                        class="button-solicitar-servicio custom-buttonx" color="tertiary">
                        <ion-icon name="create-outline"></ion-icon>
                      </ion-button>
                    </a>
                    <ion-button shape="round" *ngIf="mostrarBotonAgregarServicio && datosTrabajador.length > 0"
                      class="button-solicitar-servicio custom-buttonx" color="danger"
                      (click)="confirmarEliminarServicio(datos.id_des_serv)">
                      <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                  </div>
                </div>
              </div>
              <br>
              <!-- <ion-button *ngIf="mostrarBotonAgregarServicio && datosTrabajador.length > 0" shape="round"
                class="button-solicitar-servicio custom-buttonx" (click)="agregarServicio()">Agregar
                Servicio</ion-button> -->
             
            </div>
            
          </ion-card>

          
          
          <div *ngIf="datosServicio.length === 0" style="display: flex; flex-direction: column; align-items: center;">
            <h2 style="color: white; text-align: center;">NO POSEE SERVICIOS</h2>
          </div>
          <div *ngIf="mostrarBotonAgregarServicio && datosServicio.length === 0" style="display: flex; justify-content: center; margin-bottom: 10%;">
            <ion-fab>
              <ion-fab-button (click)="agregarServicio()" color="tertiary">
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </div>
          
          <ion-fab *ngIf="mostrarBotonAgregarServicio && datosServicio.length > 0"  slot="fixed" vertical="bottom"  horizontal="end" class="fixed-button">
            <ion-fab-button (click)="agregarServicio()" color="tertiary">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>

          <br><br>

          

        </div> <!-- fin switch 1-->


        <div *ngSwitchCase="'tab2'">
          <!-- Contenido de la Opción 2 -->
          <ion-card class="custom-card custom-white-background" *ngFor="let datos of datosGaleria">
            <div class="div-tarjeta-servicio">
              <div class="div-tarjeta-servicio-for">
                <div>

                  <img [src]="datos.img_galeria_base64" style="padding-top: 1%;" class="img-serv">
                  <p style="text-align: center;">{{ datos.descripcion }}</p>

                  <div style="text-align: center;">
                    <!-- Utilizamos Angular RouterLink para la navegación -->
                    <ion-button shape="round" *ngIf="mostrarBotonAgregarServicio && datosTrabajador.length > 0"
                      class="button-solicitar-servicio custom-buttonx" color="danger"
                      (click)="confirmarEliminarGaleria(datos.id_foto)">
                      <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                  </div>
                </div>
              </div>
            </div>

            
          </ion-card>


          <div *ngIf="datosGaleria.length === 0" style="display: flex; flex-direction: column; align-items: center;">
            <h2 style="color: white; text-align: center;">NO POSEE FOTOS EN GALERIA</h2>
          </div>
          <div *ngIf="mostrarBotonAgregarServicio && datosGaleria.length === 0" style="display: flex; justify-content: center; margin-bottom: 10%;">
            <ion-fab>
              <ion-fab-button (click)="agregarGaleria()" color="warning">
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </div>

          <ion-fab *ngIf="mostrarBotonAgregarServicio && datosGaleria.length > 0"  slot="fixed" vertical="bottom"  horizontal="end" class="fixed-button">
            <ion-fab-button (click)="agregarGaleria()" color="warning">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>

          <br><br>

          
          

          


        </div> <!-- fin switch 2-->

      </div>
    </div>










  </ion-content>
</div>