<app-menu></app-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>JOBBY</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="custom-content">
    <ion-card class="user-card">
      <div class="user-profile">
        <ion-row responsive-sm>
          <ion-col col-12 width-50 class="ion-text-center">
            <img class="user-avatar" src="../../assets/img/user.jpg">
            <ion-icon name="create"></ion-icon>
          </ion-col>
        </ion-row>
      </div>

      <div class="datos">
        <h3>{{ datosTrabajador[0]?.nombre }} {{ datosTrabajador[0]?.apellidos }}</h3>
        <p>Fecha de nacimiento: {{ datosTrabajador[0]?.fecha_nacimiento | date:'dd-MM-yyyy' }}</p>
        <p>⭐⭐⭐⭐⭐</p>
        <p>{{datosTrabajador[0]?.des_perfil}}</p>
      </div>

      <div style="text-align: center; padding-bottom: 5px;">
        <ion-button  shape="round" class="button-solicitar-servicio custom-buttonx" (click)="navigateToSolicitud()">Solicitar servicio</ion-button>
      </div>
    </ion-card>
    <br><br>
    <ion-label class="titulo">
      <h1 >SERVICIOS</h1>
    </ion-label>

    <ion-card class="custom-card custom-white-background" *ngFor="let datos of datosTrabajador">
      <div class="div-tarjeta-servicio">
        <div class="div-tarjeta-servicio-for" >
          <div>
            <h2 class="tipo_servicio_h2">{{ datos.name_serv }}</h2>
            <p style="text-align: center;">{{datos.name_comuna}},{{datos.name_region}}</p>
            <p style="text-align: center;">⭐⭐⭐⭐</p>
            <p style="text-align: center;">{{ datos.des_serv }}</p>
          </div>
        </div>
      </div>
     

    </ion-card>
  </ion-content>
</div>