.button-lista{
    margin-top: 2%;
    background-color: orange;
    text-align: center;
    
}

ion-card {
    --background: red;
    color: white;
}

ion-list {
    background-color : transparent  ;
}