
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>JOBBY</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">


    

    <ion-segment [(ngModel)]="selectedTab1" class="user-card" >

      <ion-segment-button value="tab1" >
        <p class="bartab">Visitas agendadas</p>
      </ion-segment-button>

      <ion-segment-button value="tab2" >
        <p class="bartab">Visitas a Recibir</p>
      </ion-segment-button>

    </ion-segment>

    
  <div [ngSwitch]="selectedTab1">
    <div *ngSwitchCase="'tab1'">
    <ion-list >
      <ion-card *ngFor="let visita of visitasAgendas"  class="user-card">
        <ion-card-header style="text-align: center;">
          <ion-card-title style="color: black;">{{ visita.titulo }}</ion-card-title>
        </ion-card-header>

        <ion-card-content >
          <p>Correo trabajador: {{ visita.correo_trabajador }}</p>
          <p>Correo usuario: {{ visita.correo_usuario }}</p>
          <p>Descripción: {{ visita.descripcion }}</p>
          <p>Fecha: {{ visita.fecha | date:'dd-MM-yyyy' }}</p>
          <p>Hora: {{ visita.hora }}</p>
          <p>Servicio: {{ visita.name_serv }}</p>
          <p>Detalles solicitud: {{ visita.des_solicitud }}</p>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

  <div *ngSwitchCase="'tab2'">
    <ion-list >
      <ion-card *ngFor="let visita of VisitasAgendadas" class="user-card">
        <ion-card-header style="text-align: center;">
          <ion-card-title style="color: black;">{{ visita.titulo }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <p>Correo trabajador: {{ visita.correo_trabajador }}</p>
          <p>Correo usuario: {{ visita.correo_usuario }}</p>
          <p>Descripción: {{ visita.descripcion }}</p>
          <p>Fecha: {{ visita.fecha | date:'dd-MM-yyyy' }}</p>
          <p>Hora: {{ visita.hora }}</p>
          <p>Servicio: {{ visita.name_serv }}</p>
          <p>Detalles solicitud: {{ visita.des_solicitud }}</p>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
</div>
  </ion-content>
</div>|