<app-menu></app-menu>

<div class="ion-page" id="main-content">
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>JOBBY</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-card class="custom-card "  *ngFor="let resena of resenaData">


    <div class="column" style="margin-top:10%; padding-left: 2%;">
      <h1>Comentario del cliente:</h1>
      <p>{{ resena.descripcion }}</p>
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <div class="star-container" style="text-align: center; flex: 1;">
          <ion-icon *ngFor="let i of getStarArray()" [name]="getStarIcon(i, resena.calificacion)" class="star-filled"></ion-icon>
        </div>
        <ion-button (click)="emitirReporte(resena.id_resena)"><ion-icon name="alert-circle"></ion-icon>Emitir reporte</ion-button>
      </div>

    
</div>
</ion-card>
 
</ion-content>
</div>