<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item class="ion-item-menu" (click)="perfil_menu()">
        Perfil
      </ion-item>
      <ion-item class="ion-item-menu">
        Servicios
      </ion-item>
      <ion-item class="ion-item-menu" (click)="logout()">
        Cerrar Sesión
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>JOBBY</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card>
      <ion-card-content>
      
        <ion-item>
          <ion-label position="floating">Título de la Solicitud</ion-label>
          <ion-input [(ngModel)]="titulo" name="titulo" type="text" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Servicio</ion-label>
          <ion-select [(ngModel)]="servicioSeleccionado" name="servicioSeleccionado" interface="popover">
            <ion-select-option *ngFor="let servicio of datosServicio; let i = index" [value]="servicio.name_serv">
              {{ servicio.name_serv }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Descripción</ion-label>
          <ion-textarea [(ngModel)]="descripcion" name="descripcion" required></ion-textarea>
        </ion-item>
        <ion-button expand="full" (click)="enviarSolicitud()">Enviar Solicitud</ion-button>

      </ion-card-content>
    </ion-card>
  </ion-content>
</div>