<app-menu></app-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>JOBBY</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="content-sol">
    <H1 style="text-align: center;">ENVIAR SOLICITUD</H1>
    <ion-card class="ion-card-solicitud">
      <ion-card-content>
        <div>
          <ion-label position="floating">Título de la Solicitud</ion-label>
          <ion-input [(ngModel)]="titulo" name="titulo" type="text" required></ion-input>
        </div>
        <div >
          <ion-label>Servicio</ion-label>
          <ion-select [(ngModel)]="servicioSeleccionado" name="servicioSeleccionado" interface="popover">
            <ion-select-option *ngFor="let servicio of datosServicio; let i = index" [value]="servicio.name_serv">
              {{ servicio.name_serv }}
            </ion-select-option>
          </ion-select>
        </div>
        <div>
          <ion-label position="floating">Descripción</ion-label>
          <ion-textarea [(ngModel)]="descripcion" name="descripcion" required></ion-textarea>
        </div>
        <ion-button shape="round" expand="full" class="custom-button" (click)="enviarSolicitud()" >Enviar Solicitud</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>