<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Trabajador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <form (ngSubmit)="registrarTrabajador()">
        <ion-item>
          <ion-label position="stacked">Descripción</ion-label>
          <ion-textarea [(ngModel)]="descripcion" name="descripcion" required></ion-textarea>
        </ion-item>


        <ion-button expand="full" type="submit">Registrar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
