<ion-content [fullscreen]="true">
  <ion-content>
    <div>
      <ion-grid fixed class="ion-padding-top">
        <ion-row>
          <ion-col size="2"></ion-col>
          <ion-col size="8" class="ion-padding">
            <form [formGroup]="registroForm" (ngSubmit)="registrar()">

              <h3>Registrarse</h3>

              <ion-input type="email" fill="solid" plabel="Email" labelPlacement="floating" helperText="Enter a valid email" errorText="Invalid email" formControlName="correoElectronico"></ion-input>

              <ion-input label="Contraseña" labelPlacement="floating" fill="solid" helperText="Debe tener mínimo 7 caracteres" errorText="Debe tener mínimo 7 caracteres" type="password" formControlName="contrasena" required></ion-input>

              <ion-item class="ion-padding-top animate__animated animate__fadeIn">
                <ion-input label="Confirma contraseña" labelPlacement="floating" fill="solid" helperText="Debe ser igual a la anterior" errorText="Debe ser igual a la anterior" type="password" formControlName="confirmarContrasena" required></ion-input>
              </ion-item>

              <ion-item class="ion-padding-top animate__animated animate__fadeIn">
                <ion-label position="floating"></ion-label>
                <ion-input label="Primer Nombre" labelPlacement="floating" type="text" formControlName="primerNombre" required></ion-input>
              </ion-item>

              <ion-item class="ion-padding-top animate__animated animate__fadeIn">
                <ion-input label="Apellidos" labelPlacement="floating" type="text" formControlName="apellidos" required></ion-input>
              </ion-item>
              <ion-item class="ion-padding-top animate__animated animate__fadeIn">
                <ion-input label="Teléfono" labelPlacement="floating" type="number" formControlName="telefono" required></ion-input>
              </ion-item>
              <ion-item class="ion-padding-top">
                <ion-input label="Fecha de Nacimiento" labelPlacement="floating" type="date" formControlName="fechaNacimiento"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Imagen:</ion-label>
                <input type="file" (change)="onFileSelected($event)" accept="image/*">
                <!-- Campo oculto para almacenar la URL de la imagen -->
                <input type="hidden" formControlName="imagen">
              </ion-item>

              <div class="ion-padding-top animate__animated animate__fadeIn">
                <ion-button shape="round" type="submit" expand="block" class="blueBackGr" [disabled]="registroForm.invalid">Registrar</ion-button>

                <ion-button shape="round" expand="block" routerLink="../login" color="warning">Volver</ion-button>
              </div>
            </form>
          </ion-col>
          <ion-col size="2"></ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
</ion-content>
