<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>JOBBY</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <div>
      <ion-grid fixed class="ion-padding-top">
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col size="10" class="ion-padding">
            <form [formGroup]="registroForm" (ngSubmit)="registrar()">

              <h3>REGISTRARSE</h3>
              
              <ion-item class="ion-padding-top animate__animated animate__fadeIn">
              <ion-input label="Correo electronico" type="email" plabel="Email" labelPlacement="floating"  errorText="Invalid email" formControlName="correoElectronico"></ion-input>
              </ion-item>
              
              <ion-item class="ion-padding-top animate__animated animate__fadeIn">
              <ion-input label="Contraseña" labelPlacement="floating" helperText="Debe tener mínimo 7 caracteres" errorText="Debe tener mínimo 7 caracteres" type="password" formControlName="contrasena" required></ion-input>
              </ion-item>

              <ion-item class="ion-padding-top animate__animated animate__fadeIn">
                <ion-input label="Confirma contraseña" labelPlacement="floating" helperText="Debe ser igual a la anterior" errorText="Debe ser igual a la anterior" type="password" formControlName="confirmarContrasena" required></ion-input>
              </ion-item>

              <ion-item class="ion-padding-top animate__animated animate__fadeIn">
                <ion-input label="Primer Nombre" labelPlacement="floating" type="text" formControlName="primerNombre" required></ion-input>
              </ion-item>

              <ion-item class="ion-padding-top animate__animated animate__fadeIn">
                <ion-input label="Apellidos" labelPlacement="floating" type="text" formControlName="apellidos" required></ion-input>
              </ion-item>
              <ion-item class="ion-padding-top animate__animated animate__fadeIn">
                <ion-input label="Teléfono" labelPlacement="floating" type="number" formControlName="telefono" required></ion-input>
              </ion-item>
              <ion-item class="ion-padding-top">
                <ion-input label="Nacimiento" labelPlacement="floating" type="date" name="fechaNacimiento" formControlName="fechaNacimiento"></ion-input>
              </ion-item>



              <ion-item class="ion-padding-top">
                <ion-label>Imagen:</ion-label>
                <input type="file" (change)="onFileSelected($event)" accept="image/*">
                <!-- Campo oculto para almacenar la URL de la imagen -->
                <input type="hidden" formControlName="imagen">
              </ion-item>

              <div class="ion-padding-top animate__animated animate__fadeIn">
                <ion-button shape="round" type="submit" expand="block" class="blueBackGr" [disabled]="registroForm.invalid">Registrar</ion-button>
                <ion-button shape="round" class="volver-button" expand="block" routerLink="../login" color="warning">Volver</ion-button>
              </div>
            </form>
          </ion-col>
          <ion-col size="2"></ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
</ion-content>
