<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-avatar slot="start" class="logo-avatar">
      <img src="https://www.pngmart.com/files/17/Vector-Worker-PNG-Free-Download.png" alt="Logo">
    </ion-avatar>
    <ion-title>JOBBY</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-grid fixed class="ion-padding-top">
      <ion-row>
       
        <ion-col col-12 width-50 class="ion-padding">
          <div class="form-container">
            <form [formGroup]="registroForm" (ngSubmit)="registrar()" enctype="multipart/form-data">
              <div class="form-header">
                <h3>REGISTRARSE</h3>
              </div>

              <div class="form-field animate__animated animate__fadeIn">
                <ion-item>
                  <ion-label position="floating">Correo electrónico</ion-label>
                  <ion-input type="email" plabel="Email" formControlName="correoElectronico"></ion-input>
                </ion-item>
              </div>

              <div class="form-field animate__animated animate__fadeIn">
                <ion-item>
                  <ion-label position="floating">Contraseña</ion-label>
                  <ion-input type="password" labelPlacement="floating" helperText="Debe tener mínimo 7 caracteres" errorText="Debe tener mínimo 7 caracteres" formControlName="contrasena" required></ion-input>
                </ion-item>
              </div>

              <div class="form-field animate__animated animate__fadeIn">
                <ion-item>
                  <ion-label position="floating">Confirma contraseña</ion-label>
                  <ion-input type="password" labelPlacement="floating" helperText="Debe ser igual a la anterior" errorText="Debe ser igual a la anterior" formControlName="confirmarContrasena" required></ion-input>
                </ion-item>
              </div>

              <div class="form-field animate__animated animate__fadeIn">
                <ion-item>
                  <ion-label position="floating">Primer Nombre</ion-label>
                  <ion-input type="text" formControlName="primerNombre" required></ion-input>
                </ion-item>
              </div>

              <div class="form-field animate__animated animate__fadeIn">
                <ion-item>
                  <ion-label position="floating">Apellidos</ion-label>
                  <ion-input type="text" formControlName="apellidos" required></ion-input>
                </ion-item>
              </div>

              <div class="form-field animate__animated animate__fadeIn">
                <ion-item>
                  <ion-label position="floating">Teléfono</ion-label>
                  <ion-input type="number" formControlName="telefono" required></ion-input>
                </ion-item>
              </div>

              <div class="form-field">
                <ion-item>
                  <ion-label >Nacimiento</ion-label>
                  <ion-input type="date" name="fechaNacimiento" formControlName="fechaNacimiento"></ion-input>
                </ion-item>
              </div>

              <br>

              <div class="form-group">
                <label for="imagen">Seleccionar Imagen:</label>
                <input type="file" id="imagen" name="imagen" (change)="onFileSelected($event)" accept="image/*" style="display: none;" required>
                <br>
                <label for="imagen" class="custom-file-input" style="text-align: center;">
                  <br>
                  <ion-fab-button  color="tertiary" *ngIf="!imagenPreview" style="margin: 0 auto;">
                    
                    <ion-icon name="add"></ion-icon>
                  </ion-fab-button>
                  <img *ngIf="imagenPreview" [src]="imagenPreview" alt="Imagen seleccionada" class="preview-image">
                  <br>
                  <ion-fab-button  color="warning" *ngIf="imagenPreview" style="margin: 0 auto;">
                    <ion-icon name="sync-outline"></ion-icon>
                  </ion-fab-button>
                </label>
                
                
                <div *ngIf="!imagenPreview" class="error-message">Debes seleccionar una imagen.</div>
              </div>



              <div class="form-button animate__animated animate__fadeIn">
                <ion-button shape="round" type="submit" expand="block" class="btn_registro" [disabled]="registroForm.invalid">Registrar</ion-button>
                
              </div>
            </form>
            <ion-button shape="round" type="submit" class="volver-button" expand="block" routerLink="../login" >Volver</ion-button>
          </div>
        </ion-col>
        
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
